
.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .25);
  padding: 15px 10px;
  text-align: center;
  background: linear-gradient(
      to top right,
      red, #f06d06
    );;
}

.app-header h1 {
  font-size: 2.5em;
  letter-spacing: 3px;
  color: #f5f6fa;
  margin: 0;
  font-weight: 700;
}

.app-container {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
}

@media (max-width: 960px) {
  .app-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 420px) {
  .app-container {
    width: 98%;
  }
}

.inner-container {
  flex: 1;
  padding: 0 30px;
}

.app-footer {
  padding: 20px;
  text-align: center;
  font-size: 1em;
}

/* Posts */
.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sort-posts {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  /* Removes the default <select> styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Positions background arrow image */
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC') 95% center no-repeat;
}

@media (max-width: 560px) {
  .subheader {
    flex-direction: column;
    justify-content: flex-start;
  }

  .sort-posts {
    margin-top: 10px;
  }
}

/* for IE and Edge */
select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
}

.post-content {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0 20px;
  line-height: 1.8;
}

@media (max-width: 560px) {
  .post-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0 20px;
    line-height: 1.5;
  }
}

.post-category {
  padding: 7px;
  background: rgba(244, 241, 239, 0.8);
  border-radius: 5px;
  margin: 0 5px;
  font-size: 0.8em;
}

.post-title {
  color: rgba(0,0,0,.6);
  font-size: 1.2em;
}

.post-score {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  justify-content: space-between;
}

.vote-control-up, .vote-control-down {
  font-size: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.vote-score {
  padding: 5px 10px;
  background: #01BC32;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 4px solid #666666;
}

.post-comments-count {
  text-decoration: underline;
  margin-left: 5px;
}

.add-new-post {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.add-new-post button {
  display: block;
  padding: 10px;
  height: 50px;
  font-size: 1em;
  color: white;
  border-radius: 10px;
  background: #FF442B;
  box-shadow: 1px 1px 0.5px 0.8px rgba(0, 0, 0, .2);
  border: 1px solid rgba(0,0,0,.2);
  cursor: pointer;
}

@media (max-width: 560px) {
  .add-new-post button {
    font-size: 1.5em;
    border-radius: 50%;
  }

  .add-new-post button span {
    font-size: 0;

  }
}

.post-footer svg {
  font-size:1.4em;
}

/* Navigation */

nav {
  display: flex;
  flex-direction: column;
  width: 180px;
  box-shadow: 1px 1px 0.5px 0.8px rgba(0, 0, 0, .2);
  border-radius: 5px;
}

nav .nav-header {
  padding-left: 20px;
  line-height: 60px;
  font-weight: 600;
  font-size: 1.4em;
}

nav a {
  line-height: 40px;
  padding-left: 20px;
  font-size: 1.2em;
  border-top: 0.5px solid rgba(0,0,0,.2);
  text-decoration: none;
}

@media (max-width: 960px) {
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    max-width: 800px;
    margin-bottom: 20px;
  }

  nav .nav-header {
    flex: 1 1 100%;
    text-align: center;
    padding-right: 20px;
    line-height: 40px;
    font-weight: 600;
    font-size: 1.2em;
    border: 0.5px solid rgba(0,0,0,.2);
  }

  nav a {
    flex: 1;
    text-align: center;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    border: 0.5px solid rgba(0,0,0,.2);
    text-decoration: none;
  }
}

nav a:first-child {
  border-top: 0;
}

nav a:hover {
  background: #fcfafc;
  color: #FF2F14;
}
